.items{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.buttonWrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button{
  padding: 5px 10px;
}