.Article{
  width: 555px;
  height: 300px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 24px;
  
}

.imgWrapper{
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;

  img{
    width: 200px;
    height: 200px;
  }
}

.infoWrapper{
  width: 300px;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  p{
    margin-top: 70px;
  }

  p+p{
    color: rgb(0, 0, 0);
    font-size: 50px;
  }
}

.button{
  margin-top: auto;
  width: 80%;
}