.form{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  p{
    text-align: center;
  }
}

.cardWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info{
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  input{
    outline: none;
    border: 1px solid gray;
    padding-left: 10px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
  }
}