.SectionProduct{
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: all .3s;

  &:hover{
    opacity: .8;
  }

  img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: white;
    text-align: center;
  }
}