.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.modal{
  display: flex;
  flex-direction: column;
  width: 1120px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 8px;
  z-index: 10;
  gap: 20px;
  align-items: center;
  justify-content: center;

  h2{
    font-size: 30px;
  }
}

.inputWrapper{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.button{
  width: 80%;
  padding: 5px 10px;
  font-size: 20px;
}

.input{
  outline: none;
  width: 80%;
  border: 1px solid gray;
  border-radius: 8px;
  height: 30px;
  padding-left: 10px;
}